<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
    {% load static %}
    <link rel="icon" href="{% static '/magus/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static '/magus/css/shared_styles.css' %}">
</head>
<body>
    <h1>Task List</h1>
    <table class="table">
        <thead>
            <tr>
                <th class="th">User</th>
                <th class="th">Task Type</th>
                <th class="th">Started</th>
                <th class="th">Ended</th>
                <th class="th">Interrupted</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td class="td">{{ task.user.username }}</td>
                    <td class="td">{{ task.task_type }}</td>
                    <td class="td">{{ task.start_time }}</td>
                    <td class="td">{{ task.end_time }}</td>
                    <td class="td">{{ task.interrupted }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
